{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <h3>Vérifier mot de passe profil</h3>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="profile_password">Mot de passe du profil :</label>
        <input type="password" class="form-control" name="profile_password" required>
      </div>
      <button type="submit" class="btn btn-primary">Vérifier</button>
    </form>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} mt-3">{{ message }}</div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
